/* color */
:root {
  --white-color: #fff;
  --black-color: #000;
  --gray-color: lightgray;
}

/* common */
* {
  color: var(--white-color);
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

input:focus::-webkit-input-placeholder, 
textarea:focus::-webkit-input-placeholder { /* WebKit browsers */ 
  color:transparent; 
} 

input:focus:-moz-placeholder, 
textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
  color:transparent; 
} 

input:focus::-moz-placeholder, 
textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */ 
  color:transparent; 
} 

input:focus:-ms-input-placeholder, 
textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */ 
  color:transparent; 
}

input {
  outline: none;
  border: 0;
  background: transparent;
  font-size: 50px;
  color: var(--white-color);
  border-bottom: 2px solid var(--white-color);
}

input::placeholder {
  color: var(--white-color);
}

input[type="checkbox"] {
  cursor: pointer;
}

.hidden {
  display: none;
}


/* background */
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}


/* header */
header {
  display: flex;
  justify-content: space-between;
  top: 0;
  padding: 20px;
}

#google {
  display: flex;
  align-items: center;
}

#google > a {
  font-size: 19px;
  font-weight: 500;
  margin-right: 20px;
  text-decoration: none;
}

#google > a:hover {
  color: var(--gray-color);
  transition: .5s;
}

#google > span {
  cursor: pointer;
}

#google > input {
  padding: 0;
  font-size: 15px;
}

#weather > div:first-child {
  font-size: 20px;
}

#weather > div:last-child {
  margin-top: 5px;
}

/* main */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 175px);
}

.container > div {
  margin-bottom: 20px;
}

.container > div > p {
  font-size: 35px;
  margin-top: 90px;
}

#clock {
  font-size: 180px;
}

#greeting {
  margin-top: 0;
  font-size: 50px;
}

#todo-form > input {
  margin-top: 5px;
  font-size: 35px;
  width: 500px;
}

#todo-list {
  font-size: 30px;
  line-height: 45px;
}

#todo-list > li > input {
  margin-right: 15px;
}

#todo-list > li > button {
  margin-left: 15px;
  padding: 2px 7px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background-color: transparent;
  border: none;
  border: 2px solid var(--white-color);
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

#todo-list > li > button:active,
#todo-list > li > button:hover,
#todo-list > li > button:focus {
  color: var(--black-color);;
  background-color: var(--white-color);;
  transition: 0.5s;
}


/* footer */
footer {
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 40px);
  position: fixed;
  bottom: 0;
  margin: 20px;
}

#settings {
  width: 20%;
  display: flex;
  align-items: center;
}

#settings > span {
  left: 0;
}

#quote {
  width: 60%;
}

#quote > blockquote:first-child {
  font-size: 19px;
}

#quote > blockquote:last-child {
  font-size: 16px;
  color: var(--gray-color);
  margin-top: 10px;
}

#photo-info {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#photo-info > p {
  font-size: 15px;
}